a {
    color: #000
}

a:visited {
    color: #666
}

a:hover {
    color: #fff;
    background-color: #000
}

body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px
}

book_body {
  height: 73px;
  width: 92px;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  color: #008000;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

label {
    display: block
}

th {
    padding-bottom: 5px
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px
}

p,ul,td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px
}
